#navHeader{
    text-align: center;
    font-family: 'Cinzel'
}

table.table th, table.table td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.sideTableExp td, th{
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
     opacity: 1;
 }

#heatMapUser .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
    opacity: 1;
}