#navHeader{
    text-align: center;
    font-family: 'Cinzel'
}

table.table th, table.table td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#heatMap_container .highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover), .highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover), .highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover), .highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
    opacity: 1;
}

#heatMap_container .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item .highcharts-undefined-series .highcharts-color-undefined {
    pointer-events: none;
}

#heatMap_container .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMap_container .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMap_container .highcharts-container .highcharts-root
.highcharts-series-group .highcharts-series .highcharts-series-0 .highcharts-heatmap-series .highcharts-color-0 .highcharts-tracker .highcharts-point .highcharts-color-0{
    pointer-events: none;
}

#heatMap_container .highcharts-container .highcharts-root
.highcharts-series-group .highcharts-series .highcharts-series-0 .highcharts-heatmap-series .highcharts-color-0 .highcharts-tracker{
    pointer-events: none;
}