<div id="experiment" class="container" style="margin-top: 90px" ng-mousemove="captureCoordinate($event)">

    <div class="row">
        <div class="col">
            <h3 id="exp_hello">

            </h3>
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col">

        </div>
        <div class="col-sm-10">
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col" style="width:100px">#</th>
                        <th scope="col">
                            Term A
                        </th>
                        <th scope="col">
                            Term B
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            Column Name
                        </th>
                        <td id="A_col_name">
                            FirstName
                        </td>
                        <td id="B_col_name">
                            YourName
                        </td>

                    </tr>
                    <tr id="row_type">
                        <th scope="row">
                            Column Type
                        </th>
                        <td id="A_col_type">
                            String
                        </td>
                        <td  id="B_col_type">
                            Varchar
                        </td>
                    </tr>
                    <tr id="row_control">
                        <th scope="row">
                            System Suggestion
                        </th>
                        <td colspan="2" id="exp_pair_score" style="text-align:center">
                            0.6 similar
                        </td>
                    </tr>
                    <tr id="row_instance">
                        <th scope="row">
                            Instance Example
                        </th>
                        <td id="A_col_instance">
                            Roee, Avigdor
                        </td>

                        <td id="B_col_instance">
                            Roee Shraga, Avigdor
                        </td>

                    </tr>
                    <tr style="margin-top: 5px" id="row_h">
                        <th scope="row">
                            Hierarchy
                        </th>
                        <td>
                            <table class="table table-borderless"  id="term_a_table_h">
                                <tbody ng-repeat="item in h_1">
                                    <tr ng-if="item.index==0">
                                        <td  style="color:{{item.color}}">
                                            <i class="fas fa-folder"></i>{{item.val}}
                                        </td>
                                    </tr>
                                    <tr ng-if="item.index!=0">
                                        <!--<td id="table_a_{{$index}}">
                                            {{decorateWithSpace($index,item.val)}}
                                        </td>-->
                                        <td style="color:{{item.color}}">
                                            <i class="fa fa-angle-double-right" ng-repeat="t in getCustomRepeatArray(item.index)"></i><i class="fa fa-folder-open"></i>{{item.val}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <td >
                            <table class="table table-borderless" id="term_b_table_h">
                                <tbody ng-repeat="item2 in h_2">
                                    <tr ng-if="item2.index==0">
                                        <td  style="color:{{item2.color}}">
                                            <i class="fas fa-folder"></i> {{item2.val}}
                                        </td>
                                    </tr>
                                    <tr ng-if="item2.index!=0" >
                                        <!--<td id="table_b_{{$index}}">
                                            {{decorateWithSpace($index,item2.val)}}
                                        </td>-->
                                        <td style="color:{{item2.color}}">
                                            <i class="fa fa-angle-double-right" ng-repeat="t in getCustomRepeatArray(item2.index)"></i><i class="fa fa-folder-open"></i>{{item2.val}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>



                    <tr>
                        <td>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="user_ans_yes" ng-model="user_ans_match" ng-value="1" name="user_ans_match">
                                <label class="custom-control-label" for="user_ans_yes">Match</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="user_ans_no" ng-model="user_ans_match" ng-value="0" name="user_ans_match">
                                <label class="custom-control-label" for="user_ans_no">No Match</label>
                            </div>
                        </td>
                        <td style="width:450px">
                            <div>
                                <div class="md-form" style="margin: 0 auto;float: none;">
                                    <!--<input type="number" id="user_confidence" class="form-control validate" aria-describedby="user_confidenceMD" min="0" max="1" step="0.01">
                                    <label for="user_confidence" data-error="wrong" data-success="right">Your Confidence</label>
                                    <small id="user_confidenceMD" class="form-text text-muted">
                                        Insert Confidence level that this two terms are the same (in [0,1])
                                    </small>
                                    -->
                                    <form oninput="text_confidence_input.value=document.getElementById('user_confidence').value">
                                        <input id="user_confidence" value="0" class="custom-range" type="range" min="0" max="100" step="1"/>
                                        <label for="user_confidence" data-error="wrong" data-success="right" style="padding-left: 15px;padding-top: 10px">Your Confidence</label>
                                        <output name="text_confidence_input" for="user_confidence"></output>
                                    </form>

                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-md btn-info m-0 px-3" type="button" ng-click="exp_res()" >submit</button>
                        </td>


                    </tr>
                </tbody>

            </table>

        </div>
        <div class="col"></div>
    </div>



    <div class="modal fade" id="pause_exp_modal" tabindex="-1" role="dialog" aria-labelledby="Pause exp Modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Next Step</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div id="pause_modal_body">

                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-md btn-info m-0 px-3" type="button" data-dismiss="modal">I'm Ready!</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="disp_feedback_modal" tabindex="-1" role="dialog" aria-labelledby="feedback exp Modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="feedback_body">
                    Your answer is Wrong!
                </div>
                <div class="modal-footer">

                    <button class="btn btn-md btn-info m-0 px-3" type="button" data-dismiss="modal" ng-click="show_pause_after_feedback()">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>