<div id="experiment" style="margin-top: 100px" ng-init="captureCoordinate($event)">


    <h1>
        The Experinent
    </h1>
    <hr>


    <div class="col-sm-12 text-center" >

        <div class="row">
            <div class="col">
                <h3>Term A</h3>
            </div>
            <div class="col">
                <h3>Term B</h3>
            </div>

        </div>
        <div class="row">
            <div class="col" id="A_col_name">
                FirstName
            </div>
            <div class="col" id="B_col_name">
                YourName
            </div>

        </div>
        <div class="row">
            <div class="col" id="A_col_type">
                String
            </div>

            <div class="col" id="B_col_type">
                Varchar
            </div>

        </div>
        <div class="row">
            <div class="col" id="exp_pair_score">
                System Suggestion: 0.6 similar
            </div>
        </div>
        <div class="row">
            <div class="col" id="A_col_instance">
                Roee, Avigdor
            </div>

            <div class="col" id="B_col_instance">
                Roee Shraga, Avigdor
            </div>

        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col text-center">
                <table align="center" ng-repeat="item in h_1">
                    <tr ng-if="item.index==0">
                        <td>
                            {{item.val}}
                        </td>
                    </tr>
                    <tr ng-if="item.index!=0">
                        <td>
                            <i class="fas fa-long-arrow-alt-right"></i>{{item.val}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col text-center">
                <table align="center" ng-repeat="item2 in h_2">
                    <tr ng-if="item2.index==0">
                        <td>
                            {{item2.val}}
                        </td>
                    </tr>
                    <tr ng-if="item2.index!=0">
                        <td>
                            <i class="fas fa-long-arrow-alt-right"></i>{{item2.val}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div style="margin-top: 100px; ">
                    <div class="md-form col-sm-5" style="margin: 0 auto;float: none;">
                        <input type="text" id="user_confidence" class="form-control" aria-describedby="user_confidenceMD">
                        <label for="user_confidence">Your Confidence</label>
                        <small id="user_confidenceMD" class="form-text text-muted">
                            Insert Confidence level that this two terms are the same (in [0,1])
                        </small>

                    </div>
                    <button class="btn btn-md btn-info m-0 px-3" type="button" ng-click="exp_res()">submit</button>


                </div>

            </div>


        </div>

    </div>





</div>