<!-- Static navbar -->

<div id="nav">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" style="height: 56px">
		<div class="container" style="padding-left: 0px; margin-left: 0px;">
			<img border="0" alt="InCognitoMatch" src="/images/systemLogo.png" style="height: 53px;">
			<a class="navbar-brand" href="#" ng-click="" id="navHeader" style="padding-left: 10px;">InCognitoMatch</a>
			<!-- Left links-->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!--<li class="nav-item">
						<a class="nav-link waves-effect" href="#" ng-click="hide_pages();init_avivTest()">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
							</span>
							Home
						</a>
					</li>
					<li class="nav-item" >
						<a class="nav-link waves-effect" href="#" ng-click="hide_pages();show_page2()">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true" >
							</span>
							About
						</a>
					</li>-->
					<li class="nav-item" >
						<a class="nav-link waves-effect" href="#" ng-click="hide_pages();show_exp()">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true" >
							</span>
							The Experiment
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link waves-effect" href="#"  data-toggle="modal" data-target="#instruction_modal">
								<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
								</span>
							Instructions
						</a>
					</li>

				</ul>

				<!--Right links-->
				<ul class="navbar-nav nav-flex-icons">
					<li class="nav-item ml-auto" >
						<a class="nav-link" href="" id="loggin_user" readonly> </a>
					</li>
					<li class="nav-item dropdown" id="nav_admin">
						<a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" href="#"  aria-haspopup="true"
						   aria-expanded="false">More</a>
						<div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" id="navbar_admin">
							<a class="dropdown-item" href="#"  data-toggle="modal" data-target="#admin_login">Log in</a>
							<!--<a class="dropdown-item" href="#"  data-toggle="modal" data-target="#new_admin">New Admin</a>
							<a class="dropdown-item" href="#"  data-toggle="modal" data-target="#add_exp_modal">Add Experiment</a>
							<a class="dropdown-item" href="#"  data-toggle="modal" data-target="#update_exp_modal" ng-click="get_exp_for_update()">Update Experiment</a>-->
						</div>
					 </li>
				</ul>
			</div>
			<!-- Items -->
		</div>
	</nav>
		<!-- Static navbar -->


	<div class="modal fade" id="add_exp_modal" tabindex="-1" role="dialog" aria-labelledby="Add User Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Add Experiment</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>

						<div class="form-row">
							<div class="col">
								<div class="col-sm-10 md-form">
									<input type="text" id="exp_name" class="form-control" placeholder="Experiment Name" aria-label="Experiment Name" aria-describedby="material-addon1">

								</div>
								<div class="col-sm-10 md-form mb-4">
									<input type="text" id="exp_sch_name" class="form-control" placeholder="Schema Name" aria-label="Schema Name"
										   aria-describedby="material-addon2">
								</div>
								<div class="col-sm-10 md-form mb-4">
									<input type="text" id="exp_num_pairs" class="form-control" placeholder="Pairs To Display" aria-label="Pairs To Display"
										   aria-describedby="material-addon3">
								</div>
							</div>
							<div class="col" style="margin-top: 25px">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="show_instance">
									<label class="custom-control-label" for="show_instance">Display instances</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="show_type">
									<label class="custom-control-label" for="show_type">Display type</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="show_hierarchy">
									<label class="custom-control-label" for="show_hierarchy">Display Hierarchy</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="show_feedback">
									<label class="custom-control-label" for="show_feedback">Feedback</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="show_control">
									<label class="custom-control-label" for="show_control">Control</label>
								</div>
							</div>
						</div>


<!--
						<div class="form-row">
							<div class="col-sm-5 ">
									<div class="input-default-wrapper">
										<input type="file" id="file_csv" class="input-default-js" ng-file="file_csv">
										<label class="label-for-default-js rounded-right mb-3" for="file_csv">
											<span class="span-choose-file">Choose CSV file</span>
										</label>
									</div>
							</div>
						</div>



						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="first-schema-tab" data-toggle="tab" href="#first_schema" role="tab" aria-controls="first_schema"
								   aria-selected="true">First Schema</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="sec-schema-tab" data-toggle="tab" href="#sec_schema" role="tab" aria-controls="sec_schema"
								   aria-selected="false">Second Schema</a>
							</li>

						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="first_schema" role="tabpanel" aria-labelledby="home-tab">
								<div class="form-row">
									<div class="col">
										<div class="col-sm-12 md-form input-group">
											<div class="input-default-wrapper">
												<input type="file" id="first_xsd" class="input-default-js" ng-file="first_xsd_file">
												<label class="label-for-default-js rounded-right mb-3" for="first_xsd">
													<span class="span-choose-file">Choose XSD file</span>
												</label>
											</div>
										</div>

									</div>
									<div class="col">
										<div class="col-sm-12 md-form input-group">
											<div class="input-default-wrapper">
												<input type="file" id="first_xml"  class="input-default-js" data-multiple-target="{target} files selected"
													   multiple ng-file="first_xml_file">
												<label class="label-for-default-js rounded-right" for="first_xml">
													<span class="span-choose-file">Choose XML files</span>
												</label>
											</div>
										</div>
									</div>
								</div>

							</div>


							<div class="tab-pane fade" id="sec_schema" role="tabpanel" aria-labelledby="profile-tab">
								<div class="form-row">
									<div class="col">
										<div class="col-sm-12 md-form input-group">
											<div class="input-default-wrapper">
												<input type="file" id="sec_xsd" class="input-default-js" ng-file="sec_xsd_file">
												<label class="label-for-default-js rounded-right mb-3" for="sec_xsd" >
													<span class="span-choose-file">Choose second XSD file</span>
												</label>
											</div>
										</div>

									</div>
									<div class="col">
										<div class="col-sm-12 md-form input-group">
											<div class="input-default-wrapper">
												<input type="file" id="sec_xml" class="input-default-js" data-multiple-target="{target} files selected"
													   multiple ng-file="sec_xml_file">
												<label class="label-for-default-js rounded-right" for="sec_xml">
													<span class="span-choose-file">Choose second XML files</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>







-->
					</form>
				</div>
				<div class="modal-footer">
					<div id="add_exp_log">

					</div>
					<button class="btn btn-md btn-info m-1 px-3" type="button" ng-click="add_exp()">Add Experiment</button>
					<button class="btn btn-md btn-info m-0 px-3" type="button" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="admin_login" tabindex="-1" role="dialog" aria-labelledby="Add User Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Admin Log-in</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="loginForm">
						<div class="container">
							<div class="login-form">
								<div class="main-div">
									<div class="md-form">
										<i class="fas fa-envelope prefix"></i>
										<input type="email" id="admin_email" class="form-control validate">
										<label for="admin_email" data-error="wrong" data-success="right">Type your email</label>
									</div>
									<div class="md-form">
										<i class="fas fa-lock prefix"></i>
										<input type="password" id="admin_pass" class="form-control">
										<label for="admin_pass" data-error="wrong" data-success="right">Type your password</label>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<div id="admin_login_log">

						</div>
						<button class="btn btn-md btn-info m-0 px-3" type="button" ng-click="admin_login()">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="new_admin" tabindex="-1" role="dialog" aria-labelledby="New Admin Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Sign Up New Admin</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<div class="container">
							<div class="login-form">
								<div class="main-div">
									<div class="md-form">
										<i class="fas fa-user prefix"></i>
										<input type="text" id="new_admin_name" class="form-control">
										<label for="new_admin_name" >Type your email</label>
									</div>
									<div class="md-form">
										<i class="fas fa-envelope prefix"></i>
										<input type="email" id="new_admin_email" class="form-control validate">
										<label for="new_admin_email" data-error="wrong" data-success="right">Type your email</label>
									</div>
									<div class="md-form">
										<i class="fas fa-lock prefix"></i>
										<input type="password" id="new_admin_pass" class="form-control">
										<label for="new_admin_pass" data-error="wrong" data-success="right">Type your password</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div id="new_admin_log">

						</div>
						<button class="btn btn-md btn-info m-0 px-3" type="button" ng-click="new_admin()">Register</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="update_exp_modal" tabindex="-1" role="dialog" aria-labelledby="Update Experiment Modal" aria-hidden="true">
		<div class="modal-dialog modal-fluid" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Update Experiments</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-borderless">
						<thead>
						<tr>
							<th>
								ID
							</th>
							<th>
								Name
							</th>
							<th>
								Schema Name
							</th>
							<th>
								Pairs to Display
							</th>
							<th>
								Display Instances
							</th>
							<th>
								Display Types
							</th>
							<th>
								Display Hierarchy
							</th>
							<th>
								Display Feedback
							</th>
							<th>
								Display Control
							</th>
							<th>
								Is Active
							</th>
						</tr>
						</thead>
						<tbody>
							<tr ng-repeat="exp in experiments">
								<td>
									{{exp.id}}
								</td>
								<td>
									<input type="text" class="form-control" id="upt_exp_name_{{exp.id}}" value="{{exp.name}}">
								</td>
								<td>
									<input type="text" class="form-control" id="upt_exp_shcema_name_{{exp.id}}" value="{{exp.schema_name}}">
								</td>
								<td>
									<input type="text" class="form-control" id="upt_exp_num_pairs_{{exp.id}}" value="{{exp.num_pairs}}">
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_instance==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_instacne_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_disp_instacne_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_instance==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_instacne_{{exp.id}}">
										<label class="custom-control-label" for="upt_exp_disp_instacne_{{exp.id}}"></label>
									</div>
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_type==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_type_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_disp_type_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_type==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_type_{{exp.id}}">
										<label class="custom-control-label" for="upt_exp_disp_type_{{exp.id}}"></label>
									</div>
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_h==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_h_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_disp_h_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_h==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_h_{{exp.id}}" >
										<label class="custom-control-label" for="upt_exp_disp_h_{{exp.id}}"></label>
									</div>
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_feedback==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_feedback_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_disp_feedback_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_feedback==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_feedback_{{exp.id}}">
										<label class="custom-control-label" for="upt_exp_disp_feedback_{{exp.id}}"></label>
									</div>
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_control==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_control_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_disp_control_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.disp_control==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_disp_control_{{exp.id}}">
										<label class="custom-control-label" for="upt_exp_disp_control_{{exp.id}}"></label>
									</div>
								</td>
								<td>
									<div class="custom-control custom-checkbox" ng-if="exp.is_active==1">
										<input type="checkbox" class="custom-control-input" id="upt_exp_is_active_checked_{{exp.id}}" checked>
										<label class="custom-control-label" for="upt_exp_is_active_checked_{{exp.id}}"></label>
									</div>
									<div class="custom-control custom-checkbox" ng-if="exp.is_active==0">
										<input type="checkbox" class="custom-control-input" id="upt_exp_is_active_{{exp.id}}">
										<label class="custom-control-label" for="upt_exp_is_active_{{exp.id}}"></label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<div id="update_exp_log">

					</div>
					<button class="btn btn-md btn-info m-0 px-3" type="button" ng-click="update_exp()">Update</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="instruction_modal" tabindex="-1" role="dialog" aria-labelledby="Instructions Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" >Instructions</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					In this experiment you will be asked to decide if a pair is match or not match and to scale your confidence level.
					<br>
					each pair consist from 2 terms from two different schemes.
					<br>
					A Term is a field in schema.
					<br>
					For each term you will be given his: name, type, hierarchy and instances (if exists).
					<br>
					The color in the hierarchy:
					<br>
					green - Parent of the term in the hierarchy.
					<br>
					red - The Term.
					<br>
					blue - Sibling of the term in the hierarchy.
					<br>
				</div>
				<div class="modal-footer">
					<button class="btn btn-md btn-info m-1 px-3" type="button" data-dismiss="modal" aria-label="Close">
						Close</button>
				</div>
			</div>
		</div>
	</div>


</div>
